<div class="card mb-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{music[0].name}}</h5>      
      <a href="{{music[0].url}}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Youtube link</a>
    </div>
  </div>

  <div class="card mb-2" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{music[1].name}}</h5>      
      <a href="{{music[1].url}}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Youtube link</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{music[2].name}}</h5>      
      <a href="{{music[2].url}}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Youtube link</a>
    </div>
</div>